.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 192px;
}

.imageBox {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.imageBox:hover {
  border: 1px solid red;
}

.image {
  cursor: pointer;
}
